.header {
    padding-top: 40px;
    padding-bottom: 40px;
    .slogan {
        height: 172px;
        h4 {
            font-style: italic;
            position: relative;
            top:144px;
            padding-left: 50px;
        }
    }
}